.box {
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: fit-content;
  padding: 23px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px;
  margin-top: 15vh;
  margin-left: 75vh;
}
.box h5 {
  text-align: right;
}

.box button {
  height: 3.5vh;
  border-radius: 5px;
  background-color: beige;
  border-color: black;
  box-shadow: 1px 1px 1px 1px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  
}

.quiz-section {
  flex: display;
  flex-direction: row;
  justify-content: space-around;
  min-height: max-content;
  padding: 20px 20px 20px 20px;
  margin-left: 20vh;
  margin-right: 30vh;
  margin-top: 10vh;
  background-color: beige;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px;
  font-family: 'Courier New', Courier, monospace;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

.button {
  font-family: 'Courier New', Courier, monospace;
  padding: 6px;
  margin: 8px 3px 3px 8px;
  box-sizing: border-box;
  background-color: beige;
  border-radius: 7px;
  border-color: black;
  box-shadow: 1px;
}

.footer {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
